
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-leave-group-vsy {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .group-4-rFq {
    box-sizing: border-box;
    padding: 0.7rem 1.2rem 0.7rem 29.7rem;
    width: 100%;
    height: 2.4rem;
    background-color: #f8f9fa;
    flex-shrink: 0;

    .group-3-AnK {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .rectangle-8DM {
        height: 1rem;
        background-color: #868e96;
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 1rem;
      }
      .oval-TmR {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .path-Cyu {
        width: 1.2rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-rskz-M67 {
    box-sizing: border-box;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:756e302b7d56a759ac56bc165f65c40094aba4e8');
    margin-bottom: 1.4rem;
    padding: 1.4rem 1.8rem 3.2rem 1.6rem;
    width: 100%;
    display: flex;
    background-size: 100% 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4499999881) -0%, rgba(0, 0, 0, 0.6000000238) 100%);
    flex-shrink: 0;

    .auto-group-zsqs-Tew {
      height: 2.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 12.2rem 0.4rem;
      width: calc(100% - 0.4rem);

      .icon-navigation-arrowback24px-ydH {
        margin-right: 22.1rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-5-VrX {
        font-weight: 500;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 8.5rem;
        line-height: 1.3;
        color: #ffffff;
        white-space: nowrap;
        height: 100%;
        font-size: 1.2rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        border: solid 0.08rem #ffffff;
      }
    }
    .computer-engineering-xEK {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 1.3;
      color: #ffffff;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
    .computer-engineers-follow-this-HGb {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
    }
  }
  .auto-group-un6j-9Jo {
    margin: 0rem 1.8rem 2rem 1.6rem;
    width: calc(100% - 3.4rem);
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .posts368-Fcj {
      font-weight: 700;
      line-height: 1.3;
      color: #212529;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.3rem 14.7rem 0rem 0rem;
      font-size: 1.4rem;
      letter-spacing: 0.014rem;
      white-space: nowrap;
    }
    .group-6-9y1 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #f1f3f5;
      border-radius: 0.4rem;

      .filter-all-tvb {
        flex-shrink: 0;
        margin: 0.1rem 1.1rem 0rem 0rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .baseline-arrowdropdown-24px-21D {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        position: relative;
      }
    }
  }
  .auto-group-3oc3-YET {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);

    .rectangle-5-Hxj {
      background-image: url('REPLACE_IMAGE:8f0b5f5259515bfc8d2d4ff8928be097376153e9');
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      width: 100%;
      height: 12rem;
      background-size: 100% 100%;
      background-color: #c4c4c4;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0.4rem 0.4rem 0 0;
    }
    .article-Cpo {
      margin-left: 1.6rem;
      line-height: 1.2999999183;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000000;
      display: flex;
      flex-shrink: 0;

      .article-Cpo-sub-0 {
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
      }
      .article-Cpo-sub-1 {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #343a40;
      }
    }
    .auto-group-mf1h-eqD {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 1.8rem 1.8rem 1.6rem;

      .auto-group-rpsq-P27 {
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .what-if-famous-brands-had-regular-fonts-meet-regulabrands-Xu1 {
          color: #212529;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.1rem 0rem 0rem;
          max-width: 25.7rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.3;
        }
        .group-3-q91 {
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .ive-worked-in-ux-for-the-better-part-of-a-decade-f-xzK {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.5rem 0rem;
      }
      .auto-group-qn8f-ftj {
        width: 100%;
        height: 5.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-dqh9-Cdm {
          box-sizing: border-box;
          padding: 1.5rem 11.6rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .rectangle-31-wLT {
            margin-right: 1.2rem;
            width: 3.7rem;
            height: 3.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2.4rem;
            flex-shrink: 0;
          }
          .group-7-fGT {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.2rem 0;
            height: calc(100% - 0.4rem);
            display: flex;

            .sarthak-kamra-CXH {
              font-size: 1.3rem;
              font-weight: 600;
              line-height: 1.3;
              color: #212529;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .k-views-8vj {
              color: #495057;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3;
            }
          }
        }
        .auto-group-ghwd-stK {
          width: 7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .group-8-dsV {
            display: flex;
            border-radius: 0.4rem;
            padding: 0.9rem 0.8rem;
            width: 7rem;
            height: 3.6rem;
            position: absolute;
            left: 0;
            box-sizing: border-box;
            top: 1.6rem;
            align-items: center;
            background-color: #f1f3f5;

            .baseline-share-24px-ZFM {
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .share-Hx3 {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.3;
              color: #212529;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .group-6-1t3 {
            height: 5.4rem;
            padding: 1.8rem 1.8rem 1.8rem 1.8rem;
            width: 5.4rem;
            left: 1.6rem;
            top: 0;
            box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.0799999982), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1800000072);
            background: linear-gradient(180deg, #ff5b5b -0%, #f0568a 100%);
            border-radius: 2.7rem;
            box-sizing: border-box;
            position: absolute;

            .icon-image-edit24px-jJF {
              width: 1.8003rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .rectangle-35-9My {
    flex-shrink: 0;
    margin-bottom: 1.2rem;
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
  }
  .auto-group-t5uk-5Fd {
    width: 65.1rem;
    height: 32.8rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;

    .education-cWT {
      white-space: nowrap;
      width: 7.6rem;
      color: #000000;
      left: 1.6rem;
      top: 13.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2999999183;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      height: 1.9rem;
      position: absolute;
      display: flex;
      align-items: baseline;

      .education-cWT-sub-0 {
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
      }
      .education-cWT-sub-1 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
    .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government-VCs {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 63.5rem;
      height: 2.1rem;
      position: absolute;
      font-weight: 600;
      color: #212529;
      left: 1.6rem;
      top: 15.9rem;
      font-size: 1.6rem;
      line-height: 1.3;
    }
    .ive-worked-in-ux-for-the-better-part-of-a-decade-f-NGf {
      height: 1.9rem;
      position: absolute;
      left: 1.6rem;
      line-height: 1.3;
      color: #495057;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      width: 32.2rem;
      top: 23.2rem;
      font-size: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .rectangle-36-4vB {
      left: 1.6rem;
      top: 27.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.4rem;
      width: 3.7rem;
      height: 3.7rem;
      position: absolute;
    }
    .group-31-tPR {
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      left: 31.4rem;
      top: 15.9rem;
    }
    .group-71-p2B {
      width: 6.9rem;
      height: 3.3rem;
      position: absolute;
      left: 6.5rem;
      top: 27.3rem;

      .sarah-west-wsV {
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
      }
      .k-views-tXq {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
      }
    }
    .group-81-Erb {
      height: 3.6rem;
      position: absolute;
      left: 27.2rem;
      top: 27.2rem;
      display: flex;
      align-items: center;
      border-radius: 0.4rem;
      box-sizing: border-box;
      padding: 0.9rem 0.8rem;
      width: 7rem;
      background-color: #f1f3f5;

      .baseline-share-24px-kK9 {
        margin-right: 0.4rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .share-gCo {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-5-ooD {
      height: 12rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #c4c4c4;
      background-image: url('REPLACE_IMAGE:250a24fec8e32137d06a7bb3fd57b6dfb4e07bfe');
      width: 36rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0.4rem 0.4rem 0 0;
    }
  }
  .rectangle-37-JEB {
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
    flex-shrink: 0;
    opacity: 0.8;
  }
  .auto-group-gfgk-dnF {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 38.6rem;
    height: 37.4rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);

    .meetup-xpX {
      position: absolute;
      left: 1.6rem;
      top: 14.6rem;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2999999183;
      color: #000000;
      display: flex;
      align-items: baseline;
      height: 1.9rem;

      .meetup-xpX-sub-0 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
      .meetup-xpX-sub-1 {
        font-weight: 500;
        line-height: 1.3;
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
      }
    }
    .finance-investment-elite-social-mixer-lujiazui-Tuh {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-weight: 600;
      line-height: 1.3;
      top: 17.1rem;
      font-size: 1.6rem;
      color: #000000;
      width: 37rem;
      height: 2.1rem;
      left: 1.6rem;
    }
    .group-48-kP1 {
      width: 28rem;
      height: 1.6rem;
      position: absolute;
      left: 1.6rem;
      top: 22.3rem;
      display: flex;
      align-items: center;

      .baseline-today-24px-5RH {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
      }
      .fri-12-oct-2018-pNs {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-weight: 500;
        letter-spacing: -0.012rem;
        color: #212529;
        font-size: 1.2rem;
        line-height: 1.3;
      }
      .outline-locationon-24px-jEw {
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .ahmedabad-india-s6F {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.012rem;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-422-zwZ {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      left: 1.6rem;
      text-align: center;
      line-height: 1.4040000622;
      display: flex;
      align-items: center;
      border: solid 0.07rem #a9aeb8;
      box-sizing: border-box;
      background-color: #ffffff;
      height: 3.4rem;
      top: 25.5rem;
      font-weight: 600;
      border-radius: 0.8rem;
      width: 32.8rem;
      font-size: 1.3rem;
      white-space: nowrap;
      position: absolute;
      color: #e56135;
      justify-content: center;
    }
    .group-32-2tF {
      vertical-align: top;
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      left: 31.4rem;
      top: 17.1rem;
      object-fit: contain;
    }
    .rectangle-38-y2o {
      height: 3.7rem;
      position: absolute;
      left: 1.6rem;
      top: 31.7rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.4rem;
      width: 3.7rem;
    }
    .group-72-HJP {
      position: absolute;
      left: 6.5rem;
      top: 31.9rem;
      width: 7.4rem;
      height: 3.3rem;

      .ronal-jones-pJK {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
        color: #212529;
      }
      .views-xfR {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-82-7HR {
      border-radius: 0.4rem;
      padding: 0.9rem 0.8rem;
      width: 7rem;
      position: absolute;
      left: 27.2rem;
      top: 31.8rem;
      background-color: #f1f3f5;
      box-sizing: border-box;
      height: 3.6rem;
      display: flex;
      align-items: center;

      .baseline-share-24px-29V {
        margin-right: 0.4rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .share-MSf {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-5-HbD {
      width: 36rem;
      top: 1.2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
      height: 12rem;
      position: absolute;
      left: 0;
      background-color: #c4c4c4;
      background-size: 100% 100%;
      border-radius: 0.4rem 0.4rem 0 0;
    }
  }
  .rectangle-39-Af1 {
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
    flex-shrink: 0;
  }
  .auto-group-kmp5-K27 {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 23.7rem;
    position: relative;

    .job-3Tu {
      width: 3.6rem;
      font-size: 1.4rem;
      line-height: 1.2999999183;
      display: flex;
      height: 1.9rem;
      position: absolute;
      left: 1.6rem;
      top: 2rem;
      font-weight: 400;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;

      .job-3Tu-sub-0 {
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
      }
      .job-3Tu-sub-1 {
        line-height: 1.3;
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .software-developer-ii-53D {
      width: 17.5rem;
      height: 2.1rem;
      position: absolute;
      left: 1.6rem;
      white-space: nowrap;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      top: 4.5rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.3;
      color: #000000;
    }
    .group-423-yuH {
      width: 32.8rem;
      left: 1.6rem;
      line-height: 1.4040000622;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      color: #02b875;
      border-radius: 0.8rem;
      height: 3.4rem;
      top: 11.4rem;
      text-align: center;
      font-size: 1.3rem;
      white-space: nowrap;
      border: solid 0.07rem #a9aeb8;
      background-color: #ffffff;
      position: absolute;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
    .group-33-26s {
      left: 31.4rem;
      top: 4.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
    }
    .rectangle-310-9hH {
      border-radius: 2.4rem;
      width: 3.7rem;
      height: 3.7rem;
      position: absolute;
      left: 1.6rem;
      top: 18rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-73-stB {
      height: 3.3rem;
      position: absolute;
      left: 6.5rem;
      top: 18.2rem;
      width: 7.5rem;

      .joseph-gray-RPu {
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .k-views-NK9 {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-83-idu {
      box-sizing: border-box;
      height: 3.6rem;
      position: absolute;
      left: 27.2rem;
      top: 18.1rem;
      display: flex;
      align-items: center;
      background-color: #f1f3f5;
      border-radius: 0.4rem;
      padding: 0.9rem 0.8rem;
      width: 7rem;

      .baseline-share-24px-S47 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
      }
      .share-B1h {
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-49-K7u {
      position: absolute;
      left: 1.6rem;
      top: 8.2rem;
      display: flex;
      align-items: center;
      width: 24.7rem;
      height: 1.6rem;

      .outline-workoutline-24px-FGT {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
      }
      .innovaccer-analytic-nGP {
        margin-right: 2.7rem;
        font-size: 1.2rem;
        letter-spacing: -0.012rem;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 500;
        line-height: 1.3;
        white-space: nowrap;
      }
      .outline-locationon-24px-VwV {
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .noida-india-dno {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.012rem;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
  }
  .rectangle-311-Yes {
    flex-shrink: 0;
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
  }
}
