
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-pS3 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .group-4-7R9 {
    padding: 0.7rem 1.2rem 0.7rem 29.7rem;
    width: 100%;
    height: 2.4rem;
    background-color: #f8f9fa;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-3-RRq {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .rectangle-mkb {
        width: 1rem;
        height: 1rem;
        background-color: #868e96;
        flex-shrink: 0;
        margin-right: 1.1rem;
      }
      .oval-JEj {
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 1rem;
      }
      .path-EPH {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-pmn7-x4P {
    box-sizing: border-box;
    display: flex;
    background-size: 100% 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:756e302b7d56a759ac56bc165f65c40094aba4e8');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4499999881) -0%, rgba(0, 0, 0, 0.6000000238) 100%);
    margin-bottom: 1.4rem;
    padding: 1.4rem 1.8rem 3.2rem 1.6rem;
    width: 100%;
    flex-shrink: 0;

    .auto-group-hb1z-fUb {
      height: 2.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 12.2rem 0.4rem;
      width: calc(100% - 0.4rem);

      .icon-navigation-arrowback24px-n3R {
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 23rem;
        width: 1.6rem;
      }
      .group-5-hw5 {
        height: 100%;
        font-size: 1.2rem;
        justify-content: center;
        border: solid 0.08rem #ffffff;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 7.6rem;
        line-height: 1.3;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
    .computer-engineering-Lz3 {
      font-weight: 700;
      line-height: 1.3;
      color: #ffffff;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 1.7rem;
    }
    .computer-engineers-follow-this-fmR {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
  }
  .auto-group-qfro-89D {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.8rem 2rem 1.6rem;
    width: calc(100% - 3.4rem);
    height: 3.2rem;

    .posts368-3GB {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.014rem;
      color: #212529;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 14.7rem 0rem 0rem;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      line-height: 1.3;
    }
    .group-6-YCw {
      align-items: center;
      background-color: #f1f3f5;
      border-radius: 0.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 1rem;
      height: 100%;
      display: flex;

      .filter-all-ga3 {
        flex-shrink: 0;
        margin: 0.1rem 1.1rem 0rem 0rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .baseline-arrowdropdown-24px-QF9 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        position: relative;
      }
    }
  }
  .auto-group-yh6x-Woy {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;

    .rectangle-5-Tz7 {
      background-color: #c4c4c4;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:8f0b5f5259515bfc8d2d4ff8928be097376153e9');
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      height: 12rem;
      background-position: center;
      border-radius: 0.4rem 0.4rem 0 0;
      width: 100%;
      background-size: 100% 100%;
    }
    .article-aYw {
      margin-left: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2999999183;
      white-space: nowrap;
      align-items: baseline;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;

      .article-aYw-sub-0 {
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
      }
      .article-aYw-sub-1 {
        line-height: 1.3;
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    .auto-group-e7cb-Fwu {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 1.8rem 1.8rem 1.6rem;

      .auto-group-ew3y-Baf {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 1rem;

        .what-if-famous-brands-had-regular-fonts-meet-regulabrands-wJw {
          max-width: 25.7rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.3;
          color: #212529;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.1rem 0rem 0rem;
        }
        .group-3-iyu {
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.8rem;
        }
      }
      .ive-worked-in-ux-for-the-better-part-of-a-decade-f-GEj {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.5rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        color: #495057;
      }
      .auto-group-c3jo-A5D {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 5.4rem;

        .auto-group-bvrh-haw {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 11.6rem 0.2rem 0rem;
          height: 100%;

          .rectangle-31-2dD {
            margin-right: 1.2rem;
            width: 3.7rem;
            height: 3.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2.4rem;
            flex-shrink: 0;
          }
          .group-7-M9h {
            margin: 0.2rem 0;
            height: calc(100% - 0.4rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .sarthak-kamra-67H {
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.3rem;
              font-weight: 600;
              line-height: 1.3;
              color: #212529;
            }
            .k-views-RfM {
              line-height: 1.3;
              color: #495057;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 500;
            }
          }
        }
        .auto-group-hyif-N4o {
          width: 7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .group-8-83y {
            padding: 0.9rem 0.8rem;
            width: 7rem;
            height: 3.6rem;
            position: absolute;
            left: 0;
            align-items: center;
            background-color: #f1f3f5;
            box-sizing: border-box;
            border-radius: 0.4rem;
            display: flex;
            top: 1.6rem;

            .baseline-share-24px-czj {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 1.8rem;
            }
            .share-kr3 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.3;
              color: #212529;
              font-family: IBM Plex Sans, 'Source Sans Pro';
            }
          }
          .group-6-5tK {
            left: 1.6rem;
            box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.0799999982), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1800000072);
            padding: 1.8rem 1.8rem 1.8rem 1.8rem;
            height: 5.4rem;
            position: absolute;
            top: 0;
            background: linear-gradient(180deg, #ff5b5b -0%, #f0568a 100%);
            border-radius: 2.7rem;
            box-sizing: border-box;
            width: 5.4rem;

            .icon-image-edit24px-zVV {
              width: 1.8003rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .rectangle-35-19h {
    margin-bottom: 1.2rem;
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
    flex-shrink: 0;
  }
  .auto-group-c8wb-8VD {
    height: 32.8rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;
    width: 65.1rem;

    .education-GLX {
      top: 13.4rem;
      font-weight: 400;
      line-height: 1.2999999183;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      width: 7.6rem;
      height: 1.9rem;
      position: absolute;
      left: 1.6rem;
      font-size: 1.4rem;

      .education-GLX-sub-0 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
      .education-GLX-sub-1 {
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
      }
    }
    .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government-8X9 {
      height: 2.1rem;
      left: 1.6rem;
      top: 15.9rem;
      font-size: 1.6rem;
      line-height: 1.3;
      color: #212529;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      width: 63.5rem;
      position: absolute;
      font-weight: 600;
      white-space: nowrap;
    }
    .ive-worked-in-ux-for-the-better-part-of-a-decade-f-otB {
      position: absolute;
      top: 23.2rem;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      width: 32.2rem;
      left: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #495057;
      white-space: nowrap;
      height: 1.9rem;
    }
    .rectangle-36-Ja3 {
      height: 3.7rem;
      position: absolute;
      left: 1.6rem;
      top: 27.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.4rem;
      width: 3.7rem;
    }
    .group-31-2kw {
      height: 2.8rem;
      position: absolute;
      left: 31.4rem;
      top: 15.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
    }
    .group-71-A6T {
      height: 3.3rem;
      position: absolute;
      left: 6.5rem;
      top: 27.3rem;
      width: 6.9rem;

      .sarah-west-6Vu {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .k-views-3R9 {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-81-Pju {
      border-radius: 0.4rem;
      padding: 0.9rem 0.8rem;
      width: 7rem;
      left: 27.2rem;
      align-items: center;
      display: flex;
      background-color: #f1f3f5;
      box-sizing: border-box;
      height: 3.6rem;
      position: absolute;
      top: 27.2rem;

      .baseline-share-24px-uCT {
        margin-right: 0.4rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .share-paK {
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
    }
    .rectangle-5-xAj {
      background-image: url('REPLACE_IMAGE:250a24fec8e32137d06a7bb3fd57b6dfb4e07bfe');
      border-radius: 0.4rem 0.4rem 0 0;
      left: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #c4c4c4;
      width: 36rem;
      height: 12rem;
      position: absolute;
      top: 0;
    }
  }
  .rectangle-37-SLo {
    background-color: rgba(241, 243, 245, 0.8000000119);
    flex-shrink: 0;
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
  }
  .auto-group-zjjb-ksH {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;
    width: 38.6rem;
    height: 37.4rem;
    position: relative;

    .meetup-tCo {
      line-height: 1.2999999183;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      position: absolute;
      top: 14.6rem;
      left: 1.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000000;
      align-items: baseline;
      width: 6.1rem;
      height: 1.9rem;

      .meetup-tCo-sub-0 {
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
      }
      .meetup-tCo-sub-1 {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #343a40;
      }
    }
    .finance-investment-elite-social-mixer-lujiazui-mvo {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      width: 37rem;
      position: absolute;
      top: 17.1rem;
      white-space: nowrap;
      height: 2.1rem;
      left: 1.6rem;
    }
    .group-48-Gcf {
      height: 1.6rem;
      position: absolute;
      left: 1.6rem;
      top: 22.3rem;
      display: flex;
      align-items: center;
      width: 28rem;

      .baseline-today-24px-ocb {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
      }
      .fri-12-oct-2018-wio {
        letter-spacing: -0.012rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #212529;
        margin-right: 5.4rem;
      }
      .outline-locationon-24px-FzP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
      }
      .ahmedabad-india-bYT {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.012rem;
        color: #212529;
      }
    }
    .group-422-j8s {
      position: absolute;
      line-height: 1.4040000622;
      text-align: center;
      font-size: 1.3rem;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      align-items: center;
      border: solid 0.07rem #a9aeb8;
      background-color: #ffffff;
      height: 3.4rem;
      top: 25.5rem;
      border-radius: 0.8rem;
      white-space: nowrap;
      justify-content: center;
      width: 32.8rem;
      font-weight: 600;
      display: flex;
      box-sizing: border-box;
      left: 1.6rem;
      color: #e56135;
    }
    .group-32-Ajy {
      position: absolute;
      left: 31.4rem;
      top: 17.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
      height: 2.8rem;
    }
    .rectangle-38-W39 {
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.4rem;
      width: 3.7rem;
      height: 3.7rem;
      position: absolute;
      left: 1.6rem;
      top: 31.7rem;
    }
    .group-72-2XH {
      width: 7.4rem;
      height: 3.3rem;
      position: absolute;
      left: 6.5rem;
      top: 31.9rem;

      .ronal-jones-NLF {
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3;
      }
      .views-KWP {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-82-fq9 {
      height: 3.6rem;
      top: 31.8rem;
      display: flex;
      align-items: center;
      border-radius: 0.4rem;
      padding: 0.9rem 0.8rem;
      width: 7rem;
      left: 27.2rem;
      background-color: #f1f3f5;
      box-sizing: border-box;
      position: absolute;

      .baseline-share-24px-zMd {
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 1.8rem;
      }
      .share-jKD {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
      }
    }
    .rectangle-5-FYT {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
      height: 12rem;
      position: absolute;
      left: 0;
      background-position: center;
      border-radius: 0.4rem 0.4rem 0 0;
      width: 36rem;
      top: 1.2rem;
      background-color: #c4c4c4;
    }
  }
  .rectangle-39-wRH {
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
    flex-shrink: 0;
  }
  .auto-group-pcyv-Uw1 {
    width: 100%;
    height: 23.7rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    flex-shrink: 0;

    .job-RbM {
      top: 2rem;
      font-weight: 400;
      line-height: 1.2999999183;
      white-space: nowrap;
      display: flex;
      width: 3.6rem;
      height: 1.9rem;
      position: absolute;
      left: 1.6rem;
      font-size: 1.4rem;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      align-items: baseline;

      .job-RbM-sub-0 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
      .job-RbM-sub-1 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        color: #343a40;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
    .software-developer-ii-iD5 {
      white-space: nowrap;
      position: absolute;
      top: 4.5rem;
      font-weight: 600;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      line-height: 1.3;
      color: #000000;
      width: 17.5rem;
      height: 2.1rem;
      left: 1.6rem;
      font-size: 1.6rem;
    }
    .group-423-p1D {
      font-weight: 600;
      justify-content: center;
      box-sizing: border-box;
      background-color: #ffffff;
      text-align: center;
      line-height: 1.4040000622;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      width: 32.8rem;
      font-size: 1.3rem;
      border: solid 0.07rem #a9aeb8;
      display: flex;
      border-radius: 0.8rem;
      height: 3.4rem;
      position: absolute;
      left: 1.6rem;
      top: 11.4rem;
      color: #02b875;
    }
    .group-33-FsD {
      top: 4.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      left: 31.4rem;
    }
    .rectangle-310-CGf {
      left: 1.6rem;
      top: 18rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.4rem;
      width: 3.7rem;
      height: 3.7rem;
      position: absolute;
    }
    .group-73-7uR {
      height: 3.3rem;
      position: absolute;
      left: 6.5rem;
      top: 18.2rem;
      width: 7.5rem;

      .joseph-gray-rc7 {
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .k-views-CR5 {
        font-weight: 500;
        line-height: 1.3;
        color: #495057;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .group-83-kBh {
      width: 7rem;
      display: flex;
      background-color: #f1f3f5;
      position: absolute;
      left: 27.2rem;
      top: 18.1rem;
      align-items: center;
      border-radius: 0.4rem;
      box-sizing: border-box;
      padding: 0.9rem 0.8rem;
      height: 3.6rem;

      .baseline-share-24px-FeF {
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 1.8rem;
      }
      .share-CJb {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
    .group-49-Ku1 {
      width: 24.7rem;
      height: 1.6rem;
      position: absolute;
      left: 1.6rem;
      top: 8.2rem;
      display: flex;
      align-items: center;

      .outline-workoutline-24px-FXm {
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .innovaccer-analytic-Pdy {
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: -0.012rem;
        color: #212529;
        white-space: nowrap;
        margin-right: 2.7rem;
        line-height: 1.3;
      }
      .outline-locationon-24px-WCo {
        width: 1.6rem;
        height: 1.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
      }
      .noida-india-qVy {
        color: #212529;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.012rem;
      }
    }
  }
  .rectangle-311-k79 {
    flex-shrink: 0;
    opacity: 0.8;
    width: 100%;
    height: 0.6rem;
    background-color: rgba(241, 243, 245, 0.8000000119);
  }
}
