
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 263.8rem;
}.for-any-queries-contact-you-hiring-manager-hr-dont-leave-comments-here-all-the-best-c8F {
  height: 62.4rem;
  display: flex;
  font-size: 10.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  width: 100%;
}
