
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.logged-in-user-scrolled-location-edit-enabled-moM {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .group-7-GEK {
    left: 20rem;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 69.2rem;
    height: 175.1rem;
    position: absolute;
    top: 0;
    align-items: center;

    .auto-group-rhio-9J7 {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;

      .rectangle-5-Vcs {
        margin-bottom: 2rem;
        width: 100%;
        background-color: #c4c4c4;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 22rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:8f0b5f5259515bfc8d2d4ff8928be097376153e9');
        border-radius: 0.4rem 0.4rem 0 0;
      }
      .article-C1V {
        font-size: 1.8rem;
        line-height: 1.2999999788;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin-left: 2rem;
        align-items: baseline;
        flex-shrink: 0;
        font-weight: 400;

        .article-C1V-sub-0 {
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 500;
        }
        .article-C1V-sub-1 {
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .auto-group-vevm-3RR {
        box-sizing: border-box;
        padding: 1.1rem 2rem 2rem 2rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-cidu-9UT {
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;

          .what-if-famous-brands-had-regular-fonts-meet-regulabrands-5d1 {
            flex-shrink: 0;
            margin-right: 14.7rem;
            max-width: 47.7rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3416666551;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
          }
          .group-3-jSf {
            margin-top: 0.1rem;
            width: 2.8rem;
            height: 2.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-rXH {
          color: #5b5b5b;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 3.1rem 0rem;
          font-size: 1.9rem;
          font-weight: 400;
          line-height: 1.3416666734;
        }
        .auto-group-brek-vn3 {
          flex-shrink: 0;
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;

          .rectangle-3-UHm {
            border-radius: 2.4rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.8rem;
            height: 4.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sarthak-kamra-bdH {
            font-family: IBM Plex Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3;
            color: #000000;
          }
          .auto-group-tmcb-XWw {
            box-sizing: border-box;
            padding: 0.6rem 0rem 0.6rem 29.275rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-TQb {
              margin: 0.9rem 4rem 0.8rem 0rem;
              height: calc(100% - 1.7rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-action-visibility24px-zfR {
                width: 1.65rem;
                height: 1.125rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.875rem 0.1rem 0rem;
              }
              .k-views-unP {
                color: #525252;
                font-family: IBM Plex Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.3;
              }
            }
            .group-2-T3D {
              flex-shrink: 0;
              width: 4.2rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .auto-group-g7xs-M8b {
      border: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .rectangle-5-6by {
        background-image: url('REPLACE_IMAGE:250a24fec8e32137d06a7bb3fd57b6dfb4e07bfe');
        flex-shrink: 0;
        height: 22rem;
        background-color: #c4c4c4;
        background-size: 100% 100%;
        background-position: center;
        border-radius: 0.4rem 0.4rem 0 0;
        margin-bottom: 2rem;
        width: 100%;
        background-repeat: no-repeat;
      }
      .education-oWP {
        line-height: 1.2999999788;
        align-items: baseline;
        flex-shrink: 0;
        margin-left: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1.8rem;

        .education-oWP-sub-0 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
        .education-oWP-sub-1 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
      }
      .auto-group-hksf-8SB {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 2rem 2rem 2rem;
        width: 100%;

        .auto-group-zn87-rsy {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government-Cwq {
            max-width: 52.6rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3454545628;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 9.8rem;
          }
          .baseline-morevert-24px-JV5 {
            width: 2.8rem;
            height: 2.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.1rem;
          }
        }
        .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-Drw {
          margin: 0rem 0.1rem 3.1rem 0rem;
          font-size: 1.9rem;
          font-weight: 400;
          line-height: 1.3416666734;
          color: #5b5b5b;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-jjnt-G4X {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 4.8rem;
          display: flex;

          .rectangle-3-zFR {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.8rem;
            height: 4.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2.4rem;
          }
          .sarah-west-VCB {
            font-weight: 600;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .auto-group-ssns-oyZ {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.6rem 0rem 0.6rem 32.175rem;
            height: 100%;

            .group-7DZ {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.9rem 4rem 0.8rem 0rem;
              height: calc(100% - 1.7rem);

              .icon-action-visibility24px-REF {
                height: 1.125rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.875rem 0.1rem 0rem;
                width: 1.65rem;
              }
              .k-views-wCb {
                color: #525252;
                font-family: IBM Plex Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.3;
              }
            }
            .group-21-Gkf {
              flex-shrink: 0;
              width: 4.2rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .auto-group-4cpy-Zzf {
      width: 100%;
      height: 77.5rem;
      position: relative;
      border: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;

      .group-422-tn3 {
        height: 3.8rem;
        color: #e56135;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        justify-content: center;
        background-color: #ffffff;
        position: absolute;
        line-height: 1.4040000622;
        white-space: nowrap;
        display: flex;
        font-weight: 600;
        border: solid 0.07rem #a9aeb8;
        box-sizing: border-box;
        left: 2rem;
        top: 35.2rem;
        text-align: center;
        font-size: 1.3rem;
        width: 65.2rem;
        align-items: center;
        border-radius: 0.8rem;
      }
      .group-53-KMZ {
        left: 2rem;
        top: 31.6rem;
        display: flex;
        align-items: center;
        width: 35.8rem;
        height: 2rem;
        position: absolute;

        .baseline-today-24px-Sh5 {
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4rem;
          width: 2rem;
        }
        .fri-12-oct-2018-Naj {
          margin-right: 6.6rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .outline-locationon-24px-VvF {
          margin-right: 0.4rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ahmedabad-india-pxX {
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .baseline-morevert-24px-yKd {
        height: 2.8rem;
        position: absolute;
        left: 64.4rem;
        top: 27.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.8rem;
      }
      .meetup-uUB {
        font-weight: 400;
        line-height: 1.2999999788;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        width: 7.8rem;
        left: 2rem;
        top: 24rem;
        font-size: 1.8rem;
        display: flex;
        align-items: baseline;
        height: 2.4rem;
        position: absolute;
        white-space: nowrap;

        .meetup-uUB-sub-0 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
        .meetup-uUB-sub-1 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
      }
      .finance-investment-elite-social-mixer-lujiazui-RL3 {
        width: 50.9rem;
        left: 2rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3;
        height: 2.9rem;
        position: absolute;
        top: 27.5rem;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-5-KAX {
        width: 69.2rem;
        position: absolute;
        left: 0;
        background-color: #c4c4c4;
        background-position: center;
        background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
        border-radius: 0.4rem 0.4rem 0 0;
        height: 22rem;
        top: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .group-52-RzF {
        top: 42.2rem;
        display: flex;
        align-items: center;
        border-radius: 2.4rem;
        width: 16rem;
        height: 4.8rem;
        position: absolute;
        left: 2rem;

        .rectangle-3-a6T {
          border-radius: 2.4rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .ronal-jones-ueX {
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3;
        }
      }
      .group-qYB {
        position: absolute;
        left: 49.575rem;
        top: 43.7rem;
        display: flex;
        align-items: center;
        width: 9.425rem;
        height: 1.9rem;

        .icon-action-visibility24px-Zyy {
          margin: 0rem 0.875rem 0.1rem 0rem;
          width: 1.65rem;
          height: 1.125rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .k-views-6DD {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.3;
          color: #525252;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
        }
      }
      .rectangle-4-E4X {
        position: absolute;
        left: 0;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.4rem;
        width: 69.2rem;
        height: 26.9rem;
        top: 50.6rem;
        border: solid 0.1rem #e0e0e0;
      }
      .group-XZR {
        height: 1.9rem;
        position: absolute;
        left: 49.575rem;
        top: 72.2rem;
        display: flex;
        align-items: center;
        width: 9.425rem;

        .icon-action-visibility24px-GG7 {
          flex-shrink: 0;
          margin: 0rem 0.875rem 0.1rem 0rem;
          width: 1.65rem;
          height: 1.125rem;
          object-fit: contain;
          vertical-align: top;
        }
        .k-views-ygK {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.3;
          color: #525252;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
        }
      }
      .baseline-morevert-24px-XC3 {
        height: 2.8rem;
        position: absolute;
        left: 64.4rem;
        top: 56.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.8rem;
      }
      .job-3gB {
        position: absolute;
        top: 52.6rem;
        line-height: 1.3;
        color: #000000;
        width: 4.6rem;
        height: 2.4rem;
        left: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .software-developer-MRy {
        position: absolute;
        left: 2rem;
        top: 56.1rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 20.2rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3454545628;
        color: #000000;
        height: 3rem;
      }
      .rectangle-3-sQK {
        vertical-align: top;
        border-radius: 2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
        left: 2rem;
        top: 70.7rem;
        object-fit: cover;
      }
      .joseph-gray-oYs {
        width: 10.4rem;
        position: absolute;
        top: 71.9rem;
        font-weight: 600;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        left: 7.8rem;
        font-size: 1.8rem;
        line-height: 1.3;
      }
      .group-54-KGK {
        height: 2rem;
        position: absolute;
        left: 2rem;
        top: 60.3rem;
        display: flex;
        align-items: center;
        width: 39.9rem;

        .outline-workoutline-24px-Srj {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4rem;
        }
        .innovaccer-analytics-private-ltd-nfh {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
        }
        .outline-locationon-24px-6wH {
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4rem;
          width: 2rem;
        }
        .noida-india-Lqd {
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .group-42-Ugw {
        height: 3.6rem;
        text-align: center;
        line-height: 1.4040000622;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        width: 65rem;
        box-sizing: border-box;
        border-radius: 1rem;
        top: 63.9rem;
        justify-content: center;
        border: solid 0.07rem #a9aeb8;
        background-color: #ffffff;
        position: absolute;
        left: 2.2rem;
        font-size: 1.3rem;
        font-weight: 600;
        color: #02b875;
        display: flex;
      }
      .group-22-KhZ {
        position: absolute;
        left: 63rem;
        top: 42.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.2rem;
        height: 3.6rem;
      }
      .group-23-4QF {
        object-fit: contain;
        vertical-align: top;
        width: 4.2rem;
        height: 3.6rem;
        position: absolute;
        left: 63rem;
        top: 71.3rem;
      }
      .group-6-zoh {
        border-radius: 0.4rem;
        width: 16rem;
        height: 10.2rem;
        position: absolute;
        left: 51.2rem;
        top: 30.8rem;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.0799999982), 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1599999964);
        background-color: #ffffff;

        .group-3-XYj {
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          font-weight: 400;
          line-height: 1.3;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          height: 3.2rem;
          position: absolute;
          color: #000000;
          white-space: nowrap;
          width: 16rem;
          top: 0.4rem;
          text-align: right;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          box-sizing: border-box;
          left: 0;
          font-size: 1.4rem;
        }
        .group-4-zBR {
          position: absolute;
          font-weight: 400;
          line-height: 1.3;
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          width: 16rem;
          left: 0;
          font-size: 1.4rem;
          box-sizing: border-box;
          height: 3.2rem;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          top: 3.5rem;
          color: #000000;
        }
        .group-5-4BH {
          color: #000000;
          position: absolute;
          left: 0;
          top: 6.6rem;
          white-space: nowrap;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          height: 3.2rem;
          font-size: 1.4rem;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          box-sizing: border-box;
          line-height: 1.3;
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          width: 16rem;
          font-weight: 400;
        }
      }
      .group-56-56P {
        top: 21rem;
        box-sizing: border-box;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        border: solid 0.1rem #e0e0e0;
        border-radius: 0.4rem;
        width: 69.2rem;
        height: 49rem;

        .rectangle-5-QPZ {
          width: 100%;
          background-color: #c4c4c4;
          background-repeat: no-repeat;
          border-radius: 0.4rem 0.4rem 0 0;
          margin-bottom: 2rem;
          height: 22rem;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
        }
        .meetup-ubD {
          white-space: nowrap;
          display: flex;
          margin-left: 2rem;
          font-weight: 400;
          line-height: 1.2999999788;
          align-items: baseline;
          font-size: 1.8rem;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';

          .meetup-ubD-sub-0 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
          }
          .meetup-ubD-sub-1 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
          }
        }
        .auto-group-anq7-GKH {
          width: 100%;
          height: 22.6rem;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 1.1rem 2rem 2rem 2rem;

          .auto-group-z4yu-aas {
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            width: 100%;
            display: flex;

            .finance-investment-elite-social-mixer-lujiazui-vud {
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 11.5rem;
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 1.3;
              color: #000000;
            }
            .baseline-morevert-24px-rYP {
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-53-ysu {
            margin-bottom: 1.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .baseline-today-24px-vo9 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
            .fri-12-oct-2018-TYB {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.6rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
            }
            .outline-locationon-24px-bPV {
              height: 2rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 2rem;
            }
            .ahmedabad-india-vwZ {
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3;
              color: #000000;
            }
          }
          .group-422-UTH {
            height: 3.8rem;
            font-weight: 600;
            line-height: 1.4040000622;
            justify-content: center;
            text-align: center;
            font-size: 1.3rem;
            display: flex;
            background-color: #ffffff;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 100%;
            color: #e56135;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            border: solid 0.07rem #a9aeb8;
            white-space: nowrap;
            align-items: center;
            box-sizing: border-box;
          }
          .group-52-LVV {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .rectangle-3-h59 {
              margin-right: 1rem;
              width: 4.8rem;
              height: 4.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.4rem;
              flex-shrink: 0;
            }
            .ronal-jones-pvT {
              margin-right: 39.775rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-action-visibility24px-y2f {
              margin-right: 0.875rem;
              width: 1.65rem;
              height: 1.125rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .k-views-hUT {
              margin-top: 0.1rem;
              text-align: right;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.3;
              color: #525252;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .rectangle-MZ1 {
    background-color: #ffffff;
    width: 144rem;
    height: 12.2rem;
    position: absolute;
    left: 0;
    top: 3rem;
  }
  .rectangle-VQK {
    width: 144rem;
    height: 7.2rem;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
  }
  .group-64-ovo {
    display: flex;
    align-items: center;
    width: 17.8rem;
    height: 3.6rem;
    position: absolute;
    left: 106.2rem;
    top: 1.8rem;

    .rectangle-6-8y5 {
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 3.6rem;
      height: 3.6rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.1rem;
    }
    .siddharth-goyal-fy1 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 0.7rem 0rem 0rem;
    }
    .baseline-arrowdropdown-24px-zkP {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  .whole-vtw {
    position: absolute;
    left: 7.1994rem;
    top: 2.3994rem;
    object-fit: contain;
    vertical-align: top;
    width: 16.2578rem;
    height: 2.4006rem;
  }
  .group-29-fbd {
    left: 54rem;
    display: flex;
    border-radius: 2.1rem;
    padding: 1rem 6.8rem 1rem 1.4rem;
    width: 36rem;
    position: absolute;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 4.2rem;
    top: 1.6rem;

    .group-28-Zwu {
      margin-right: 1.4rem;
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .search-for-your-favorite-groups-in-atg-7iX {
      line-height: 1.3;
      color: #5b5b5b;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  .line-24o {
    height: 0.1rem;
    position: absolute;
    left: 20rem;
    top: 14rem;
    background-color: #e0e0e0;
    width: 104rem;
  }
  .line-Mcs {
    left: 7.2rem;
    top: 8.4rem;
    background-color: rgba(224, 224, 224, 0);
    width: 129.6rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-2-tco {
    position: absolute;
    left: 20rem;
    top: 14rem;
    background-color: #000000;
    width: 9.3rem;
    height: 0.1rem;
  }
  .group-34-pWT {
    width: 35.8rem;
    height: 2.1rem;
    position: absolute;
    left: 20rem;
    top: 9.9rem;
    display: flex;
    align-items: center;

    .all-posts32-WeB {
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .article-qwM {
      font-weight: 400;
      line-height: 1.3;
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2rem;
      font-size: 1.6rem;
    }
    .event-yXm {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.8rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
      color: #898989;
    }
    .education-iVM {
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .job-FkB {
      font-weight: 400;
      line-height: 1.3;
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
  }
  .group-57-Q7H {
    border-radius: 0.4rem;
    box-sizing: border-box;
    width: 13.4rem;
    position: absolute;
    top: 9.2rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.7rem 1rem;
    height: 3.6rem;
    left: 110.6rem;
    border: solid 0.08rem #979899;

    .outline-exittoapp-24px-hs5 {
      margin-right: 0.6rem;
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .leave-group-Es1 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.3;
      color: #696a6b;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
  }
  .group-61-9yy {
    box-sizing: border-box;
    padding: 0.7rem 0.6rem 0.7rem 1.2rem;
    height: 3.6rem;
    left: 95.7rem;
    align-items: center;
    background-color: #edeeef;
    border-radius: 0.4rem;
    width: 13.3rem;
    position: absolute;
    top: 9.2rem;
    display: flex;

    .write-a-post-rNb {
      margin-right: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .baseline-arrowdropdown-24px-CBZ {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  .line-3-KX5 {
    width: 24.3rem;
    height: 0.04rem;
    position: absolute;
    left: 99.5rem;
    top: 22.5rem;
    background-color: #b7b7b7;
  }
  .enter-your-location-f59 {
    white-space: nowrap;
    display: flex;
    height: 1.9rem;
    left: 101.7rem;
    top: 19.6rem;
    font-size: 1.4rem;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    align-items: baseline;
    width: 12.4rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.3;

    .enter-your-location-f59-sub-0 {
    }
    .enter-your-location-f59-sub-1 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #808080;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
  }
  .outline-locationon-24px-2-oKm {
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 99.5rem;
  }
  .group-42-XFm {
    height: 3.2rem;
    position: absolute;
    left: 99.5rem;
    top: 25.7rem;
    display: flex;
    align-items: flex-start;
    width: 23rem;

    .baseline-erroroutline-24px-TQK {
      height: 1.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 0.7rem 0rem 0rem;
      opacity: 0.5;
      width: 1.6rem;
    }
    .your-location-will-help-us-serve-better-and-extend-a-personalised-experience-yNf {
      font-weight: 400;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 20.7rem;
      font-size: 1.2rem;
    }
  }
  .baseline-clear-24px-syq {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 121.8rem;
    top: 19.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-65-cRd {
    width: 24rem;
    height: 25.2rem;
    position: absolute;
    left: 99.5rem;
    top: 34.3rem;

    .auto-group-cjhy-wTu {
      margin: 0rem 3.1rem 2.3rem 0rem;
      width: calc(100% - 3.1rem);
      display: flex;
      align-items: flex-start;

      .twotone-thumbup-24px-sMZ {
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 1.8rem;
        height: 1.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .recommended-groups-nzK {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.14rem;
        white-space: nowrap;
        line-height: 1.3;
        text-transform: uppercase;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-gepw-iNB {
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.6rem;
      display: flex;
      align-items: center;

      .rectangle-6-Fsu {
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.1rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .leisure-bB5 {
        margin: 0.1rem 8.6rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-caoh-vUF {
        align-items: center;
        background-color: #edeef0;
        line-height: 1.3;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        border-radius: 1.4rem;
        height: calc(100% - 1.2rem);
        font-family: IBM Plex Sans, 'Source Sans Pro';
        font-weight: 400;
        width: 6rem;
        text-align: center;
        display: flex;
        flex-shrink: 0;
        margin: 0.6rem 0;
        font-size: 1.2rem;
      }
    }
    .auto-group-ew6t-oH9 {
      align-items: center;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.6rem;
      display: flex;

      .rectangle-6-wPM {
        margin-right: 1.2rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.1rem;
        flex-shrink: 0;
      }
      .activism-5Ef {
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 7.8rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .auto-group-z36p-QGw {
        background-color: #edeef0;
        flex-shrink: 0;
        margin: 0.6rem 0;
        width: 6rem;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        line-height: 1.3;
        border-radius: 1.4rem;
        height: calc(100% - 1.2rem);
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
      }
    }
    .auto-group-mawh-5dy {
      display: flex;
      align-items: center;
      margin-bottom: 2.2rem;
      width: 100%;
      height: 3.6rem;

      .rectangle-6-E15 {
        margin-right: 1.2rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.1rem;
        flex-shrink: 0;
      }
      .mba-N7H {
        flex-shrink: 0;
        margin: 0.1rem 10.2rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-jicx-Vhh {
        background-color: #edeef0;
        border-radius: 1.4rem;
        flex-shrink: 0;
        width: 6rem;
        font-size: 1.2rem;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        height: calc(100% - 1.2rem);
        line-height: 1.3;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        display: flex;
        text-align: center;
        font-weight: 400;
        margin: 0.6rem 0;
        justify-content: center;
      }
    }
    .auto-group-xsud-BKd {
      width: 100%;
      height: 3.6rem;
      display: flex;
      align-items: center;

      .rectangle-6-8Vm {
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.1rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .philosophy-TY3 {
        font-weight: 400;
        line-height: 1.3;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6.2rem 0rem 0rem;
        font-size: 1.4rem;
      }
      .auto-group-3ppt-naK {
        align-items: center;
        background-color: #edeef0;
        margin: 0.6rem 0;
        font-size: 1.2rem;
        color: #000000;
        border-radius: 1.4rem;
        line-height: 1.3;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        width: 6rem;
        height: calc(100% - 1.2rem);
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }
  .see-more-53d {
    height: 1.6rem;
    left: 117.5rem;
    text-align: right;
    font-weight: 400;
    color: #2f6ce5;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 6rem;
    position: absolute;
    top: 64.9rem;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}
