
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.logged-in-user-scrolled-follow-groups-clicked-5wm {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;

  .group-7-kY7 {
    row-gap: 1.6rem;
    width: 69.2rem;
    height: 175.1rem;
    left: 20rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    align-items: center;

    .auto-group-bdgs-qpT {
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e0e0e0;

      .rectangle-5-zST {
        background-color: #c4c4c4;
        background-size: 100% 100%;
        background-position: center;
        border-radius: 0.4rem 0.4rem 0 0;
        flex-shrink: 0;
        width: 100%;
        height: 22rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:8f0b5f5259515bfc8d2d4ff8928be097376153e9');
        margin-bottom: 2rem;
      }
      .article-V8K {
        white-space: nowrap;
        margin-left: 2rem;
        font-size: 1.8rem;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2999999788;
        display: flex;
        align-items: baseline;

        .article-V8K-sub-0 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
        .article-V8K-sub-1 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
      }
      .auto-group-wmr1-weX {
        box-sizing: border-box;
        padding: 1.1rem 2rem 2rem 2rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-sr9d-Tsm {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .what-if-famous-brands-had-regular-fonts-meet-regulabrands-DM9 {
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 14.7rem;
            max-width: 47.7rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3416666551;
          }
          .group-3-K9H {
            height: 2.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 2.8rem;
          }
        }
        .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-F2w {
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 3.1rem 0rem;
          font-size: 1.9rem;
          font-weight: 400;
          line-height: 1.3416666734;
          color: #5b5b5b;
        }
        .auto-group-6ark-v95 {
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .rectangle-3-Fh9 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 2.4rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.8rem;
            height: 4.8rem;
          }
          .sarthak-kamra-yd9 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-p75z-hZ9 {
            box-sizing: border-box;
            padding: 0.6rem 0rem 0.6rem 29.275rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-RV9 {
              margin: 0.9rem 4rem 0.8rem 0rem;
              height: calc(100% - 1.7rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-action-visibility24px-9vw {
                height: 1.125rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.875rem 0.1rem 0rem;
                width: 1.65rem;
              }
              .k-views-UCX {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.3;
                color: #525252;
                font-family: IBM Plex Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
              }
            }
            .group-2-1CT {
              width: 4.2rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-vedd-i6s {
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e0e0e0;

      .rectangle-5-G8P {
        background-position: center;
        background-image: url('REPLACE_IMAGE:250a24fec8e32137d06a7bb3fd57b6dfb4e07bfe');
        flex-shrink: 0;
        margin-bottom: 2rem;
        width: 100%;
        height: 22rem;
        background-color: #c4c4c4;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0.4rem 0.4rem 0 0;
      }
      .education-ZdH {
        font-weight: 400;
        line-height: 1.2999999788;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        margin-left: 2rem;
        white-space: nowrap;
        font-size: 1.8rem;

        .education-ZdH-sub-0 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
        .education-ZdH-sub-1 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
      }
      .auto-group-fejq-7HR {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 2rem 2rem 2rem;

        .auto-group-vh5h-qjD {
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government-Nz3 {
            font-weight: 600;
            line-height: 1.3454545628;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 9.8rem;
            max-width: 52.6rem;
            font-size: 2.2rem;
          }
          .baseline-morevert-24px-sfu {
            margin-top: 0.1rem;
            width: 2.8rem;
            height: 2.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-zkX {
          line-height: 1.3416666734;
          color: #5b5b5b;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 3.1rem 0rem;
          font-size: 1.9rem;
          font-weight: 400;
        }
        .auto-group-2dv9-Gi3 {
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-3-R59 {
            height: 4.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2.4rem;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 4.8rem;
          }
          .sarah-west-9Ww {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
          }
          .auto-group-bm5z-tUX {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.6rem 0rem 0.6rem 32.175rem;

            .group-pNB {
              height: calc(100% - 1.7rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.9rem 4rem 0.8rem 0rem;

              .icon-action-visibility24px-xjH {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.875rem 0.1rem 0rem;
                width: 1.65rem;
                height: 1.125rem;
              }
              .k-views-UxX {
                text-align: right;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.3;
                color: #525252;
                font-family: IBM Plex Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-21-pWb {
              width: 4.2rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-c7bm-irs {
      background-color: #ffffff;
      border-radius: 0.4rem;
      flex-shrink: 0;
      width: 100%;
      height: 77.5rem;
      position: relative;
      border: solid 0.1rem #e0e0e0;
      box-sizing: border-box;

      .group-422-Fbu {
        background-color: #ffffff;
        left: 2rem;
        top: 35.2rem;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        border-radius: 0.8rem;
        width: 65.2rem;
        height: 3.8rem;
        text-align: center;
        line-height: 1.4040000622;
        border: solid 0.07rem #a9aeb8;
        box-sizing: border-box;
        position: absolute;
        font-weight: 600;
        color: #e56135;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
      }
      .group-53-WGw {
        display: flex;
        align-items: center;
        width: 35.8rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        top: 31.6rem;

        .baseline-today-24px-qKD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4rem;
          width: 2rem;
          height: 2rem;
        }
        .fri-12-oct-2018-ZW7 {
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 6.6rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
        }
        .outline-locationon-24px-gaj {
          flex-shrink: 0;
          margin-right: 0.4rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .ahmedabad-india-ovF {
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
        }
      }
      .baseline-morevert-24px-x2T {
        top: 27.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.8rem;
        height: 2.8rem;
        position: absolute;
        left: 64.4rem;
      }
      .meetup-gUF {
        font-weight: 400;
        line-height: 1.2999999788;
        white-space: nowrap;
        align-items: baseline;
        width: 7.8rem;
        left: 2rem;
        top: 24rem;
        font-size: 1.8rem;
        display: flex;
        height: 2.4rem;
        position: absolute;
        color: #000000;
        font-family: IBM Plex Sans, 'Source Sans Pro';

        .meetup-gUF-sub-0 {
          font-family: IBM Plex Sans, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
        }
        .meetup-gUF-sub-1 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
        }
      }
      .finance-investment-elite-social-mixer-lujiazui-2Aj {
        top: 27.5rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        height: 2.9rem;
        position: absolute;
        font-size: 2.2rem;
        line-height: 1.3;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        width: 50.9rem;
        left: 2rem;
      }
      .rectangle-5-Kfd {
        background-color: #c4c4c4;
        background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
        border-radius: 0.4rem 0.4rem 0 0;
        background-repeat: no-repeat;
        background-position: center;
        width: 69.2rem;
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
        background-size: 100% 100%;
      }
      .group-52-RyZ {
        left: 2rem;
        top: 42.2rem;
        display: flex;
        align-items: center;
        border-radius: 2.4rem;
        width: 16rem;
        height: 4.8rem;
        position: absolute;

        .rectangle-3-a5m {
          margin-right: 1rem;
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2.4rem;
          flex-shrink: 0;
        }
        .ronal-jones-hw5 {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-e5d {
        display: flex;
        align-items: center;
        width: 9.425rem;
        height: 1.9rem;
        position: absolute;
        left: 49.575rem;
        top: 43.7rem;

        .icon-action-visibility24px-BLT {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.875rem 0.1rem 0rem;
          width: 1.65rem;
          height: 1.125rem;
        }
        .k-views-uGT {
          font-weight: 500;
          line-height: 1.3;
          color: #525252;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.4rem;
        }
      }
      .rectangle-4-qvo {
        background-color: #ffffff;
        border-radius: 0.4rem;
        height: 26.9rem;
        position: absolute;
        left: 0;
        border: solid 0.1rem #e0e0e0;
        width: 69.2rem;
        top: 50.6rem;
        box-sizing: border-box;
      }
      .group-kH5 {
        position: absolute;
        left: 49.575rem;
        top: 72.2rem;
        display: flex;
        align-items: center;
        width: 9.425rem;
        height: 1.9rem;

        .icon-action-visibility24px-HXu {
          height: 1.125rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.875rem 0.1rem 0rem;
          width: 1.65rem;
        }
        .k-views-QMd {
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.3;
          color: #525252;
        }
      }
      .baseline-morevert-24px-LWB {
        width: 2.8rem;
        height: 2.8rem;
        position: absolute;
        left: 64.4rem;
        top: 56.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .job-sFD {
        width: 4.6rem;
        height: 2.4rem;
        position: absolute;
        left: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.3;
        color: #000000;
        top: 52.6rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .software-developer-yZ9 {
        width: 20.2rem;
        height: 3rem;
        left: 2rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3454545628;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 56.1rem;
        color: #000000;
      }
      .rectangle-3-67y {
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
        left: 2rem;
        top: 70.7rem;
      }
      .joseph-gray-ppf {
        height: 2.4rem;
        position: absolute;
        left: 7.8rem;
        top: 71.9rem;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.4rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3;
        color: #000000;
      }
      .group-54-wuH {
        width: 39.9rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        top: 60.3rem;
        display: flex;
        align-items: center;

        .outline-workoutline-24px-tJj {
          margin-right: 0.4rem;
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .innovaccer-analytics-private-ltd-py5 {
          margin-right: 4rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .outline-locationon-24px-m7d {
          margin-right: 0.4rem;
          width: 2rem;
          height: 2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .noida-india-VJX {
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .group-42-qNP {
        height: 3.6rem;
        left: 2.2rem;
        display: flex;
        box-sizing: border-box;
        text-align: center;
        color: #02b875;
        font-family: IBM Plex Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        top: 63.9rem;
        white-space: nowrap;
        border: solid 0.07rem #a9aeb8;
        border-radius: 1rem;
        background-color: #ffffff;
        width: 65rem;
        position: absolute;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.4040000622;
      }
      .group-22-u7M {
        height: 3.6rem;
        position: absolute;
        left: 63rem;
        top: 42.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.2rem;
      }
      .group-23-qmh {
        width: 4.2rem;
        height: 3.6rem;
        position: absolute;
        left: 63rem;
        top: 71.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-6-aUP {
        background-color: #ffffff;
        border-radius: 0.4rem;
        width: 16rem;
        height: 10.2rem;
        position: absolute;
        left: 51.2rem;
        top: 30.8rem;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.0799999982), 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1599999964);

        .group-3-hou {
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          font-family: IBM Plex Sans, 'Source Sans Pro';
          position: absolute;
          text-align: right;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3;
          box-sizing: border-box;
          height: 3.2rem;
          left: 0;
          top: 0.4rem;
          width: 16rem;
          color: #000000;
          white-space: nowrap;
        }
        .group-4-knB {
          font-weight: 400;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          position: absolute;
          font-size: 1.4rem;
          white-space: nowrap;
          color: #000000;
          box-sizing: border-box;
          width: 16rem;
          top: 3.5rem;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          height: 3.2rem;
          left: 0;
          line-height: 1.3;
        }
        .group-5-EBZ {
          box-sizing: border-box;
          height: 3.2rem;
          white-space: nowrap;
          left: 0;
          top: 6.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          border: solid 0.1rem rgba(0, 0, 0, 0);
          position: absolute;
          line-height: 1.3;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          padding: 0.7rem 1.2rem 0.6rem 1.2rem;
          width: 16rem;
        }
      }
      .group-56-rCw {
        position: absolute;
        left: 0;
        border: solid 0.1rem #e0e0e0;
        box-sizing: border-box;
        border-radius: 0.4rem;
        width: 69.2rem;
        top: 21rem;
        background-color: #ffffff;
        height: 49rem;

        .rectangle-5-z4F {
          background-color: #c4c4c4;
          background-position: center;
          background-image: url('REPLACE_IMAGE:bdc079a9a2e530610a1b91c9682ba7889c87c1b2');
          border-radius: 0.4rem 0.4rem 0 0;
          width: 100%;
          height: 22rem;
          background-repeat: no-repeat;
          margin-bottom: 2rem;
          background-size: 100% 100%;
        }
        .meetup-V11 {
          white-space: nowrap;
          align-items: baseline;
          font-size: 1.8rem;
          line-height: 1.2999999788;
          color: #000000;
          font-family: IBM Plex Sans, 'Source Sans Pro';
          display: flex;
          margin-left: 2rem;
          font-weight: 400;

          .meetup-V11-sub-0 {
            font-weight: 500;
            line-height: 1.3;
            color: #000000;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            font-size: 1.8rem;
          }
          .meetup-V11-sub-1 {
            font-family: IBM Plex Sans, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.3;
            color: #000000;
          }
        }
        .auto-group-hxh1-Rom {
          width: 100%;
          height: 22.6rem;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 1.1rem 2rem 2rem 2rem;

          .auto-group-vpwv-Lfq {
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            width: 100%;
            display: flex;
            align-items: center;

            .finance-investment-elite-social-mixer-lujiazui-tST {
              flex-shrink: 0;
              margin-right: 11.5rem;
              font-size: 2.2rem;
              font-weight: 600;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .baseline-morevert-24px-DDq {
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.8rem;
              height: 2.8rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .group-53-YG7 {
            margin-bottom: 1.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .baseline-today-24px-62j {
              margin-right: 0.4rem;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .fri-12-oct-2018-Rqh {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.6rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
            }
            .outline-locationon-24px-MUT {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 2rem;
              height: 2rem;
              position: relative;
              object-fit: contain;
            }
            .ahmedabad-india-TnP {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-422-kmV {
            border: solid 0.07rem #a9aeb8;
            box-sizing: border-box;
            background-color: #ffffff;
            margin-bottom: 3.2rem;
            width: 100%;
            white-space: nowrap;
            display: flex;
            height: 3.8rem;
            font-weight: 600;
            color: #e56135;
            text-align: center;
            line-height: 1.4040000622;
            font-family: IBM Plex Sans, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
            border-radius: 0.8rem;
          }
          .group-52-1SX {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .rectangle-3-mAo {
              height: 4.8rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 4.8rem;
            }
            .ronal-jones-Vcb {
              margin-right: 39.775rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.3;
              color: #000000;
              font-family: IBM Plex Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-action-visibility24px-2sR {
              height: 1.125rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.875rem;
              width: 1.65rem;
            }
            .k-views-9x3 {
              margin-top: 0.1rem;
              text-align: right;
              color: #525252;
              flex-shrink: 0;
              white-space: nowrap;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.3;
              font-family: IBM Plex Sans, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .rectangle-CvK {
    height: 12.2rem;
    position: absolute;
    left: 0;
    top: 3rem;
    background-color: #ffffff;
    width: 144rem;
  }
  .rectangle-YjH {
    top: 0;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
    background-color: #ffffff;
    width: 144rem;
    height: 7.2rem;
    position: absolute;
    left: 0;
  }
  .group-64-rjy {
    top: 1.8rem;
    display: flex;
    align-items: center;
    width: 17.8rem;
    height: 3.6rem;
    position: absolute;
    left: 106.2rem;

    .rectangle-6-xHD {
      width: 3.6rem;
      height: 3.6rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.1rem;
      flex-shrink: 0;
      margin-right: 1.2rem;
    }
    .siddharth-goyal-sQB {
      flex-shrink: 0;
      margin: 0.1rem 0.7rem 0rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .baseline-arrowdropdown-24px-zDu {
      vertical-align: top;
      flex-shrink: 0;
      width: 2.2rem;
      height: 2.2rem;
      position: relative;
      object-fit: contain;
    }
  }
  .whole-7ZR {
    object-fit: contain;
    vertical-align: top;
    width: 16.2578rem;
    height: 2.4006rem;
    position: absolute;
    left: 7.1994rem;
    top: 2.3994rem;
  }
  .group-29-Sbh {
    padding: 1rem 6.8rem 1rem 1.4rem;
    width: 36rem;
    height: 4.2rem;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2.1rem;
    box-sizing: border-box;
    position: absolute;
    left: 54rem;
    top: 1.6rem;
    display: flex;

    .group-28-i3R {
      margin-right: 1.4rem;
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .search-for-your-favorite-groups-in-atg-3Lb {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.3;
      color: #5b5b5b;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
    }
  }
  .line-6Js {
    height: 0.1rem;
    position: absolute;
    left: 20rem;
    top: 14rem;
    background-color: #e0e0e0;
    width: 104rem;
  }
  .line-oDH {
    position: absolute;
    left: 7.2rem;
    top: 8.4rem;
    background-color: rgba(224, 224, 224, 0);
    width: 129.6rem;
    height: 0.1rem;
  }
  .line-2-uGK {
    top: 14rem;
    background-color: #000000;
    width: 9.3rem;
    height: 0.1rem;
    position: absolute;
    left: 20rem;
  }
  .group-34-1aF {
    height: 2.1rem;
    position: absolute;
    left: 20rem;
    top: 9.9rem;
    display: flex;
    align-items: center;
    width: 35.8rem;

    .all-posts32-Uyd {
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
      color: #000000;
    }
    .article-Bt3 {
      font-weight: 400;
      line-height: 1.3;
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2rem;
      font-size: 1.6rem;
    }
    .event-6EK {
      line-height: 1.3;
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.8rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .education-C2T {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
    .job-7QK {
      color: #898989;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
    }
  }
  .group-57-FmR {
    padding: 0.7rem 1rem;
    width: 13.4rem;
    height: 3.6rem;
    left: 110.6rem;
    display: flex;
    align-items: center;
    border: solid 0.08rem #979899;
    box-sizing: border-box;
    top: 9.2rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
    position: absolute;

    .outline-exittoapp-24px-ANb {
      margin-right: 0.6rem;
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .leave-group-Vfm {
      line-height: 1.3;
      color: #696a6b;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .group-61-byh {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    left: 95.7rem;
    top: 9.2rem;
    background-color: #edeeef;
    border-radius: 0.4rem;
    padding: 0.7rem 0.6rem 0.7rem 1.2rem;
    width: 13.3rem;
    height: 3.6rem;
    position: absolute;

    .write-a-post-U1u {
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.3;
    }
    .baseline-arrowdropdown-24px-11q {
      height: 2.2rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.2rem;
    }
  }
  .line-3-JWj {
    height: 0.04rem;
    position: absolute;
    left: 99.5rem;
    top: 22.5rem;
    background-color: #b7b7b7;
    width: 24.3rem;
  }
  .enter-your-location-QJs {
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    height: 1.9rem;
    top: 19.6rem;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    width: 12.4rem;
    position: absolute;
    left: 101.7rem;

    .enter-your-location-QJs-sub-0 {
    }
    .enter-your-location-QJs-sub-1 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      color: #808080;
      font-family: IBM Plex Sans, 'Source Sans Pro';
    }
  }
  .outline-locationon-24px-2-Aqm {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 99.5rem;
    top: 19.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-42-3uZ {
    width: 23rem;
    height: 3.2rem;
    position: absolute;
    left: 99.5rem;
    top: 25.7rem;
    display: flex;
    align-items: flex-start;

    .baseline-erroroutline-24px-kZ5 {
      opacity: 0.5;
      width: 1.6rem;
      height: 1.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 0.7rem 0rem 0rem;
    }
    .your-location-will-help-us-serve-better-and-extend-a-personalised-experience-EDM {
      max-width: 20.7rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3;
      color: #000000;
      font-family: IBM Plex Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .recommended-groups-KEo {
    width: 18.7rem;
    left: 101.7rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    top: 34.3rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.14rem;
    color: #000000;
  }
  .rectangle-6-by1 {
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: 99.5rem;
    top: 38.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2.1rem;
  }
  .leisure-Xbm {
    height: 1.9rem;
    left: 104.3rem;
    top: 39.4rem;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    width: 4.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    white-space: nowrap;
    position: absolute;
  }
  .rectangle-7-eAb {
    height: 2.4rem;
    position: absolute;
    left: 116.2rem;
    top: 39.1rem;
    background-color: #000000;
    border-radius: 1.4rem;
    width: 7.3rem;
  }
  .followed-Aud {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3;
    color: #ffffff;
    white-space: nowrap;
    top: 39.5rem;
    text-align: right;
    position: absolute;
    left: 117.4rem;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    width: 4.9rem;
    height: 1.6rem;
  }
  .rectangle-71-g7H {
    height: 2.4rem;
    position: absolute;
    left: 117.5rem;
    top: 44.9rem;
    background-color: #edeef0;
    border-radius: 1.4rem;
    width: 6rem;
  }
  .rectangle-6-19Z {
    border-radius: 2.1rem;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: 99.5rem;
    top: 44.3rem;
    object-fit: cover;
    vertical-align: top;
  }
  .activism-LBq {
    font-weight: 400;
    line-height: 1.3;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.4rem;
    height: 1.9rem;
    font-size: 1.4rem;
    color: #000000;
    position: absolute;
    left: 104.3rem;
    top: 45.2rem;
  }
  .follow-Skf {
    font-weight: 400;
    white-space: nowrap;
    width: 3.6rem;
    height: 1.6rem;
    left: 118.7rem;
    top: 45.3rem;
    text-align: center;
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
  }
  .rectangle-72-xj1 {
    background-color: #edeef0;
    border-radius: 1.4rem;
    width: 6rem;
    height: 2.4rem;
    position: absolute;
    left: 117.5rem;
    top: 50.7rem;
  }
  .rectangle-6-Viw {
    vertical-align: top;
    border-radius: 2.1rem;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
    left: 99.5rem;
    top: 50.1rem;
    object-fit: cover;
  }
  .follow-q27 {
    width: 3.6rem;
    position: absolute;
    text-align: center;
    line-height: 1.3;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
    left: 118.7rem;
    top: 51.1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .mba-38B {
    font-family: IBM Plex Sans, 'Source Sans Pro';
    position: absolute;
    top: 51rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    white-space: nowrap;
    width: 3rem;
    height: 1.9rem;
    left: 104.3rem;
    font-size: 1.4rem;
  }
  .rectangle-73-9h1 {
    width: 6rem;
    height: 2.4rem;
    position: absolute;
    left: 117.5rem;
    top: 56.5rem;
    background-color: #edeef0;
    border-radius: 1.4rem;
  }
  .follow-UzB {
    width: 3.6rem;
    height: 1.6rem;
    position: absolute;
    top: 56.9rem;
    text-align: center;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    left: 118.7rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.3;
    white-space: nowrap;
  }
  .rectangle-6-zxX {
    left: 99.5rem;
    top: 55.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2.1rem;
    width: 3.6rem;
    height: 3.6rem;
    position: absolute;
  }
  .philosophy-XSf {
    left: 104.3rem;
    top: 56.8rem;
    position: absolute;
    height: 1.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    color: #000000;
    font-family: IBM Plex Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 7rem;
  }
  .vector-SpX {
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 99.5rem;
    top: 34.3rem;
    object-fit: contain;
  }
  .vector-PUs {
    left: 100.175rem;
    top: 34.6495rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.9rem;
    height: 1.0755rem;
    position: absolute;
  }
  .vector-in3 {
    height: 1.5rem;
    position: absolute;
    left: 99.575rem;
    top: 34.375rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.65rem;
  }
  .baseline-clear-24px-4b1 {
    top: 19.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 121.8rem;
  }
  .see-more-oYb {
    font-family: IBM Plex Sans, 'Source Sans Pro';
    height: 1.6rem;
    text-align: right;
    font-weight: 400;
    color: #2f6ce5;
    font-size: 1.2rem;
    line-height: 1.3;
    white-space: nowrap;
    width: 6rem;
    position: absolute;
    left: 117.5rem;
    top: 64.9rem;
  }
}
