
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.logged-in-user-scrolled-follow-groups-clicked-5wm {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 {
  width: 69.2rem;
  height: 175.1rem;
  position: absolute;
  left: 20rem;
  top: 0;
  row-gap: 1.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .rectangle-5-zST {
  margin-bottom: 2rem;
  width: 100%;
  height: 22rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-5-bg-gST.png');
  border-radius: 0.4rem 0.4rem 0 0;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .article-V8K {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2999999788;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .article-V8K .article-V8K-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .article-V8K .article-V8K-sub-1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX {
  box-sizing: border-box;
  padding: 1.1rem 2rem 2rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-sr9d-Tsm {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-sr9d-Tsm .what-if-famous-brands-had-regular-fonts-meet-regulabrands-DM9 {
  margin-right: 14.7rem;
  max-width: 47.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3416666551;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-sr9d-Tsm .group-3-K9H {
  margin-top: 0.1rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-F2w {
  margin: 0rem 0.1rem 3.1rem 0rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.3416666734;
  color: #5b5b5b;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .rectangle-3-Fh9 {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .sarthak-kamra-yd9 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .auto-group-p75z-hZ9 {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 29.275rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .auto-group-p75z-hZ9 .group-RV9 {
  margin: 0.9rem 4rem 0.8rem 0rem;
  height: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .auto-group-p75z-hZ9 .group-RV9 .icon-action-visibility24px-9vw {
  margin: 0rem 0.875rem 0.1rem 0rem;
  width: 1.65rem;
  height: 1.125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .auto-group-p75z-hZ9 .group-RV9 .k-views-UCX {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #525252;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-bdgs-qpT .auto-group-wmr1-weX .auto-group-6ark-v95 .auto-group-p75z-hZ9 .group-2-1CT {
  width: 4.2rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .rectangle-5-G8P {
  margin-bottom: 2rem;
  width: 100%;
  height: 22rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-5-bg-C4f.png');
  border-radius: 0.4rem 0.4rem 0 0;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .education-ZdH {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2999999788;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .education-ZdH .education-ZdH-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .education-ZdH .education-ZdH-sub-1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR {
  box-sizing: border-box;
  padding: 1.1rem 2rem 2rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-vh5h-qjD {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-vh5h-qjD .tax-benefits-for-investment-under-national-pension-scheme-launched-by-government-Nz3 {
  margin-right: 9.8rem;
  max-width: 52.6rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3454545628;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-vh5h-qjD .baseline-morevert-24px-sfu {
  margin-top: 0.1rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .ive-worked-in-ux-for-the-better-part-of-a-decade-from-now-on-i-plan-to-rei-zkX {
  margin: 0rem 0.1rem 3.1rem 0rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.3416666734;
  color: #5b5b5b;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 {
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .rectangle-3-R59 {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .sarah-west-9Ww {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .auto-group-bm5z-tUX {
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.6rem 32.175rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .auto-group-bm5z-tUX .group-pNB {
  margin: 0.9rem 4rem 0.8rem 0rem;
  height: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .auto-group-bm5z-tUX .group-pNB .icon-action-visibility24px-xjH {
  margin: 0rem 0.875rem 0.1rem 0rem;
  width: 1.65rem;
  height: 1.125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .auto-group-bm5z-tUX .group-pNB .k-views-UxX {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #525252;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-vedd-i6s .auto-group-fejq-7HR .auto-group-2dv9-Gi3 .auto-group-bm5z-tUX .group-21-pWb {
  width: 4.2rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs {
  width: 100%;
  height: 77.5rem;
  position: relative;
  border: solid 0.1rem #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-422-Fbu {
  width: 65.2rem;
  height: 3.8rem;
  position: absolute;
  left: 2rem;
  top: 35.2rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4040000622;
  color: #e56135;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.07rem #a9aeb8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-53-WGw {
  width: 35.8rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 31.6rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-53-WGw .baseline-today-24px-qKD {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-53-WGw .fri-12-oct-2018-ZW7 {
  margin-right: 6.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-53-WGw .outline-locationon-24px-gaj {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-53-WGw .ahmedabad-india-ovF {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .baseline-morevert-24px-x2T {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 64.4rem;
  top: 27.6rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .meetup-gUF {
  width: 7.8rem;
  height: 2.4rem;
  position: absolute;
  left: 2rem;
  top: 24rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2999999788;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .meetup-gUF .meetup-gUF-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .meetup-gUF .meetup-gUF-sub-1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .finance-investment-elite-social-mixer-lujiazui-2Aj {
  width: 50.9rem;
  height: 2.9rem;
  position: absolute;
  left: 2rem;
  top: 27.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .rectangle-5-Kfd {
  width: 69.2rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-5-bg-8zB.png');
  border-radius: 0.4rem 0.4rem 0 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-52-RyZ {
  width: 16rem;
  height: 4.8rem;
  position: absolute;
  left: 2rem;
  top: 42.2rem;
  display: flex;
  align-items: center;
  border-radius: 2.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-52-RyZ .rectangle-3-a5m {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-52-RyZ .ronal-jones-hw5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-e5d {
  width: 9.425rem;
  height: 1.9rem;
  position: absolute;
  left: 49.575rem;
  top: 43.7rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-e5d .icon-action-visibility24px-BLT {
  margin: 0rem 0.875rem 0.1rem 0rem;
  width: 1.65rem;
  height: 1.125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-e5d .k-views-uGT {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #525252;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .rectangle-4-qvo {
  width: 69.2rem;
  height: 26.9rem;
  position: absolute;
  left: 0;
  top: 50.6rem;
  border: solid 0.1rem #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-kH5 {
  width: 9.425rem;
  height: 1.9rem;
  position: absolute;
  left: 49.575rem;
  top: 72.2rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-kH5 .icon-action-visibility24px-HXu {
  margin: 0rem 0.875rem 0.1rem 0rem;
  width: 1.65rem;
  height: 1.125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-kH5 .k-views-QMd {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #525252;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .baseline-morevert-24px-LWB {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 64.4rem;
  top: 56.2rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .job-sFD {
  width: 4.6rem;
  height: 2.4rem;
  position: absolute;
  left: 2rem;
  top: 52.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .software-developer-yZ9 {
  width: 20.2rem;
  height: 3rem;
  position: absolute;
  left: 2rem;
  top: 56.1rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3454545628;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .rectangle-3-67y {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 2rem;
  top: 70.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .joseph-gray-ppf {
  width: 10.4rem;
  height: 2.4rem;
  position: absolute;
  left: 7.8rem;
  top: 71.9rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-54-wuH {
  width: 39.9rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  top: 60.3rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-54-wuH .outline-workoutline-24px-tJj {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-54-wuH .innovaccer-analytics-private-ltd-py5 {
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-54-wuH .outline-locationon-24px-m7d {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-54-wuH .noida-india-VJX {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-42-qNP {
  width: 65rem;
  height: 3.6rem;
  position: absolute;
  left: 2.2rem;
  top: 63.9rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4040000622;
  color: #02b875;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.07rem #a9aeb8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-22-u7M {
  width: 4.2rem;
  height: 3.6rem;
  position: absolute;
  left: 63rem;
  top: 42.8rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-23-qmh {
  width: 4.2rem;
  height: 3.6rem;
  position: absolute;
  left: 63rem;
  top: 71.3rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-6-aUP {
  width: 16rem;
  height: 10.2rem;
  position: absolute;
  left: 51.2rem;
  top: 30.8rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.0799999982), 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1599999964);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-6-aUP .group-3-hou {
  box-sizing: border-box;
  padding: 0.7rem 1.2rem 0.6rem 1.2rem;
  width: 16rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(0, 0, 0, 0);
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-6-aUP .group-4-knB {
  box-sizing: border-box;
  padding: 0.7rem 1.2rem 0.6rem 1.2rem;
  width: 16rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(0, 0, 0, 0);
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-6-aUP .group-5-EBZ {
  box-sizing: border-box;
  padding: 0.7rem 1.2rem 0.6rem 1.2rem;
  width: 16rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 6.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem rgba(0, 0, 0, 0);
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw {
  width: 69.2rem;
  height: 49rem;
  position: absolute;
  left: 0;
  top: 21rem;
  border: solid 0.1rem #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .rectangle-5-z4F {
  margin-bottom: 2rem;
  width: 100%;
  height: 22rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-5-bg-6AK.png');
  border-radius: 0.4rem 0.4rem 0 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .meetup-V11 {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2999999788;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .meetup-V11 .meetup-V11-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .meetup-V11 .meetup-V11-sub-1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom {
  box-sizing: border-box;
  padding: 1.1rem 2rem 2rem 2rem;
  width: 100%;
  height: 22.6rem;
  display: flex;
  flex-direction: column;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .auto-group-vpwv-Lfq {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .auto-group-vpwv-Lfq .finance-investment-elite-social-mixer-lujiazui-tST {
  margin-right: 11.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .auto-group-vpwv-Lfq .baseline-morevert-24px-DDq {
  margin-top: 0.1rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-53-YG7 {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-53-YG7 .baseline-today-24px-62j {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-53-YG7 .fri-12-oct-2018-Rqh {
  margin-right: 6.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-53-YG7 .outline-locationon-24px-MUT {
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-53-YG7 .ahmedabad-india-TnP {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-422-kmV {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 3.8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4040000622;
  color: #e56135;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.07rem #a9aeb8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-52-1SX {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-52-1SX .rectangle-3-mAo {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-52-1SX .ronal-jones-Vcb {
  margin-right: 39.775rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-52-1SX .icon-action-visibility24px-2sR {
  margin-right: 0.875rem;
  width: 1.65rem;
  height: 1.125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-7-kY7 .auto-group-c7bm-irs .group-56-rCw .auto-group-hxh1-Rom .group-52-1SX .k-views-9x3 {
  margin-top: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #525252;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-CvK {
  width: 144rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #ffffff;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-YjH {
  width: 144rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-64-rjy {
  width: 17.8rem;
  height: 3.6rem;
  position: absolute;
  left: 106.2rem;
  top: 1.8rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-64-rjy .rectangle-6-xHD {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-64-rjy .siddharth-goyal-sQB {
  margin: 0.1rem 0.7rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-64-rjy .baseline-arrowdropdown-24px-zDu {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .whole-7ZR {
  width: 16.2578rem;
  height: 2.4006rem;
  position: absolute;
  left: 7.1994rem;
  top: 2.3994rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-29-Sbh {
  box-sizing: border-box;
  padding: 1rem 6.8rem 1rem 1.4rem;
  width: 36rem;
  height: 4.2rem;
  position: absolute;
  left: 54rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 2.1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-29-Sbh .group-28-i3R {
  margin-right: 1.4rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-29-Sbh .search-for-your-favorite-groups-in-atg-3Lb {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: #5b5b5b;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .line-6Js {
  width: 104rem;
  height: 0.1rem;
  position: absolute;
  left: 20rem;
  top: 14rem;
  background-color: #e0e0e0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .line-oDH {
  width: 129.6rem;
  height: 0.1rem;
  position: absolute;
  left: 7.2rem;
  top: 8.4rem;
  background-color: rgba(224, 224, 224, 0);
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .line-2-uGK {
  width: 9.3rem;
  height: 0.1rem;
  position: absolute;
  left: 20rem;
  top: 14rem;
  background-color: #000000;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF {
  width: 35.8rem;
  height: 2.1rem;
  position: absolute;
  left: 20rem;
  top: 9.9rem;
  display: flex;
  align-items: center;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF .all-posts32-Uyd {
  margin-right: 2.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF .article-Bt3 {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #898989;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF .event-6EK {
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #898989;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF .education-C2T {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #898989;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-34-1aF .job-7QK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  color: #898989;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-57-FmR {
  box-sizing: border-box;
  padding: 0.7rem 1rem;
  width: 13.4rem;
  height: 3.6rem;
  position: absolute;
  left: 110.6rem;
  top: 9.2rem;
  display: flex;
  align-items: center;
  border: solid 0.08rem #979899;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-57-FmR .outline-exittoapp-24px-ANb {
  margin-right: 0.6rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-57-FmR .leave-group-Vfm {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #696a6b;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-61-byh {
  box-sizing: border-box;
  padding: 0.7rem 0.6rem 0.7rem 1.2rem;
  width: 13.3rem;
  height: 3.6rem;
  position: absolute;
  left: 95.7rem;
  top: 9.2rem;
  display: flex;
  align-items: center;
  background-color: #edeeef;
  border-radius: 0.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-61-byh .write-a-post-U1u {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-61-byh .baseline-arrowdropdown-24px-11q {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .line-3-JWj {
  width: 24.3rem;
  height: 0.04rem;
  position: absolute;
  left: 99.5rem;
  top: 22.5rem;
  background-color: #b7b7b7;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .enter-your-location-QJs {
  width: 12.4rem;
  height: 1.9rem;
  position: absolute;
  left: 101.7rem;
  top: 19.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .enter-your-location-QJs .enter-your-location-QJs-sub-0 {
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .enter-your-location-QJs .enter-your-location-QJs-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #808080;
  font-family: IBM Plex Sans, 'Source Sans Pro';
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .outline-locationon-24px-2-Aqm {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 99.5rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-42-3uZ {
  width: 23rem;
  height: 3.2rem;
  position: absolute;
  left: 99.5rem;
  top: 25.7rem;
  display: flex;
  align-items: flex-start;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-42-3uZ .baseline-erroroutline-24px-kZ5 {
  margin: 0.1rem 0.7rem 0rem 0rem;
  opacity: 0.5;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .group-42-3uZ .your-location-will-help-us-serve-better-and-extend-a-personalised-experience-EDM {
  max-width: 20.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .recommended-groups-KEo {
  width: 18.7rem;
  height: 1.9rem;
  position: absolute;
  left: 101.7rem;
  top: 34.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-6-by1 {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 99.5rem;
  top: 38.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .leisure-Xbm {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 104.3rem;
  top: 39.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-7-eAb {
  width: 7.3rem;
  height: 2.4rem;
  position: absolute;
  left: 116.2rem;
  top: 39.1rem;
  background-color: #000000;
  border-radius: 1.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .followed-Aud {
  width: 4.9rem;
  height: 1.6rem;
  position: absolute;
  left: 117.4rem;
  top: 39.5rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-71-g7H {
  width: 6rem;
  height: 2.4rem;
  position: absolute;
  left: 117.5rem;
  top: 44.9rem;
  background-color: #edeef0;
  border-radius: 1.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-6-19Z {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 99.5rem;
  top: 44.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .activism-LBq {
  width: 5.4rem;
  height: 1.9rem;
  position: absolute;
  left: 104.3rem;
  top: 45.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .follow-Skf {
  width: 3.6rem;
  height: 1.6rem;
  position: absolute;
  left: 118.7rem;
  top: 45.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-72-xj1 {
  width: 6rem;
  height: 2.4rem;
  position: absolute;
  left: 117.5rem;
  top: 50.7rem;
  background-color: #edeef0;
  border-radius: 1.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-6-Viw {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 99.5rem;
  top: 50.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .follow-q27 {
  width: 3.6rem;
  height: 1.6rem;
  position: absolute;
  left: 118.7rem;
  top: 51.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .mba-38B {
  width: 3rem;
  height: 1.9rem;
  position: absolute;
  left: 104.3rem;
  top: 51rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-73-9h1 {
  width: 6rem;
  height: 2.4rem;
  position: absolute;
  left: 117.5rem;
  top: 56.5rem;
  background-color: #edeef0;
  border-radius: 1.4rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .follow-UzB {
  width: 3.6rem;
  height: 1.6rem;
  position: absolute;
  left: 118.7rem;
  top: 56.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .rectangle-6-zxX {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 99.5rem;
  top: 55.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.1rem;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .philosophy-XSf {
  width: 7rem;
  height: 1.9rem;
  position: absolute;
  left: 104.3rem;
  top: 56.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .vector-SpX {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 99.5rem;
  top: 34.3rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .vector-PUs {
  width: 0.9rem;
  height: 1.0755rem;
  position: absolute;
  left: 100.175rem;
  top: 34.6495rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .vector-in3 {
  width: 1.65rem;
  height: 1.5rem;
  position: absolute;
  left: 99.575rem;
  top: 34.375rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .baseline-clear-24px-4b1 {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 121.8rem;
  top: 19.5rem;
  object-fit: contain;
  vertical-align: top;
}
.logged-in-user-scrolled-follow-groups-clicked-5wm .see-more-oYb {
  width: 6rem;
  height: 1.6rem;
  position: absolute;
  left: 117.5rem;
  top: 64.9rem;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #2f6ce5;
  font-family: IBM Plex Sans, 'Source Sans Pro';
  white-space: nowrap;
}
